---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Tunadão 1998 - Tuna do Instituto Politécnico de Viseu">
  <main>
    <h1>Tunadão 1998</h1>
    <p>Tuna do Instituto Politécnico de Viseu</p>
  </main>
</Layout>
